.image-section img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 12px;
}
.image-btn:hover {
    filter: brightness(80%);
    transform: scale(1.03);
}
.image-section {
    width: 100%;
    height: 500px;
    background-color: #000000e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 12px;
}

.dropdown{
    position: relative;
}
.dropdown-content {
  display:none;
  position:absolute;
  background-color: #f9f9f900;
  min-width: 2px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.075);
  padding: 10px 10px;
}
.dropdown:hover .dropdown-content {
  display:flex;
  
}





.ott-section {
    position:relative;
    display: flex;
    align-items:center;
}

/* CONTAINER */
.slider-container {
    overflow:scroll;
    width: 1050px;   /* shows 3 images */
}

/* SLIDER */
.slider {
    display: flex;
    gap: 5px;
    transition: transform 0.5s ease ;             
}

/* IMAGES */
.slider img {
    width: 1000px;
    height: 400px;
    border-radius: 20px;
    object-fit:fill;
    transition: 0.3s;
}

.slider img:hover {
    transform: scale(1.03);
}

/* ARROWS */
.arrow {
    background: rgba(255,255,255,0.15);
    color: white;
    border:none ;
    font-size: 30px;
    padding: 20px;
    cursor:pointer;
    border-radius: 30%;
}

.arrow:hover {
    background: rgba(255,255,255,0.35);
}

.left { margin-right: 15px; }
.right { margin-left: 15px; }

.img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}


.watch-btn:hover {
    background: #000000;
    color: white;
    transform: scale(1.05);
     background-color: rgb(83, 105, 178);
  transform: scale(1.1);
}
.watch-btn {
    position:relative;
    bottom: 85px;
    left: 60px;
    background: grey;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    transition: background-color 1s ease-out, transform 1s ease-out;

}