/*footer*/

.footer {
    background: #0f171e4a;
    color: #000000;
    padding: 40px 60px 20px;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-col h4 {
    color: #201cef;
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 8px;
    transition: 0.3s;
}

.footer-col a:hover {
    color: #000000;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,0.1);
    color: #000000;
}
